* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "Variables";
@import "Mixins";
@import "Extends";
@import "base/base";
@import "Layout/Layout-dir";
@import "Modules/navbar-dir";